*{
  box-sizing: border-box;
  min-width: 0;
  font-family: var(--font-family);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-1);
  color: var(--content-1);
  font-size: var(--body-m);
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  scrollbar-color: var(--semantic-hightlight) var(--background-1);
}

h1,h2,h3,h4 {
  text-wrap: balance;
  margin: 0;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
  justify-content: space-between;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: var(--font-family);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

p {
  margin: 0;
  text-wrap: pretty;
}

button {
  appearance: none;
}

hr{
  height: 1px;
  background-color: var(--border-1);
  width: 100%;
  border: 0px solid;
}

svg{
  fill: var(--content-1);
}

/* Variables globales */
:root {
  --bolt-black-50: #e9e9e9;
  --bolt-black-100: #babbbc;
  --bolt-black-200: #999b9b;
  --bolt-black-300: #6a6d6e;
  --bolt-black-400: #4d5151;
  --bolt-black-500: #212526;
  --bolt-black-600: #1e2223;
  --bolt-black-700: #171a1b;
  --bolt-black-800: #121415;
  --bolt-black-900: #0e1010;
  --dieter-orange-50: #fff0e6;
  --dieter-orange-100: #ffd0b0;
  --dieter-orange-200: #ffb98a;
  --dieter-orange-300: #ff9854;
  --dieter-orange-400: #ff8533;
  --dieter-orange-500: #f60;
  --dieter-orange-600: #e85d00;
  --dieter-orange-700: #b54800;
  --dieter-orange-800: #8c3800;
  --dieter-orange-900: #6b2b00;
  --light-gray-50: #fefefe;
  --light-gray-100: #fcfcfc;
  --light-gray-200: #fafafa;
  --light-gray-300: #f8f8f8;
  --light-gray-400: #f7f7f7;
  --light-gray-500: #f5f5f5;
  --light-gray-600: #dfdfdf;
  --light-gray-700: #aeaeae;
  --light-gray-800: #878787;
  --light-gray-900: #676767;
  --green-50: #eff9f1;
  --green-100: #cdedd3;
  --green-200: #b4e5be;
  --green-300: #92d9a1;
  --green-400: #7dd18e;
  --green-500: #5dc672;
  --green-600: #55b468;
  --green-700: #428d51;
  --green-800: #336d3f;
  --green-900: #275330;
  --blue-50: #edf4fb;
  --blue-100: #c8dbf2;
  --blue-200: #aecaec;
  --blue-300: #88b2e3;
  --blue-400: #71a3dd;
  --blue-500: #4e8cd5;
  --blue-600: #477fc2;
  --blue-700: #376397;
  --blue-800: #2b4d75;
  --blue-900: #213b59;
  --yellow-50: #fff9e6;
  --yellow-100: #ffebb0;
  --yellow-200: #ffe18a;
  --yellow-300: #ffd354;
  --yellow-400: #ffcb33;
  --yellow-500: #ffbe00;
  --yellow-600: #e8ad00;
  --yellow-700: #b58700;
  --yellow-800: #8c6900;
  --yellow-900: #6b5000;
  --red-50: #fbeded;
  --red-100: #f2c8c8;
  --red-200: #ecaeae;
  --red-300: #e38888;
  --red-400: #dd7171;
  --red-500: #d54e4e;
  --red-600: #c24747;
  --red-700: #973737;
  --red-800: #752b2b;
  --red-900: #592121;
  --font-family: "N27", sans-serif;
  --border-radius-xl: 999px;
  --border-radius-l: 24px;
  --border-radius-m: 16px;
  --border-radius-s: 12px;
  --border-radius-xs: 8px;
  --border-radius-xxs: 4px;
}

@font-face {
  font-family: var(--font-family);
  src: url("@/assets/fonts/N27-Bold.woff2") format("woff2");
}

@font-face {
  font-family: var(--font-family);
  src: url("@/assets/fonts/N27-Medium.woff2") format("woff2");
}

/* Variables específicas para el modo claro */
:root {
  --background-1: var(--light-gray-50);
  --background-2: var(--light-gray-500);
  --background-3: var(--dieter-orange-500);
  --background-4: var(--dieter-orange-50);
  --background-inverse: var(--bolt-black-600);
  --background-hover: var(--light-gray-500);
  --background-focus: var(--dieter-orange-50);
  --background-disable: var(--light-gray-50);
  --box-shadow-color: rgba(149, 157, 165, 0.2);
  --content-1: var(--bolt-black-500);
  --content-2: var(--bolt-black-200);
  --content-3-pair: var(--light-gray-500);
  --content-4-pair: var(--bolt-black-500);
  --content-inverse: var(--light-gray-500);
  --content-hover: var(--bolt-black-400);
  --content-focus: var(--dieter-orange-500);
  --content-disable: var(--bolt-black-100);
  --border-1: var(--light-gray-600);
  --border-inverse: var(--bolt-black-600);
  --border-hover: var(--bolt-black-50);
  --border-focus: var(--dieter-orange-500);
  --border-disable: var(--bolt-black-50);
  --border-info: var(--blue-500);
  --border-success: var(--green-500);
  --border-warning: var(--yellow-500);
  --border-danger: var(--red-500);
  --semantic-hightlight: var(--dieter-orange-500);
  --semantic-hightlight-light: var(--dieter-orange-50);
  --semantic-hightlight-hover: var(--dieter-orange-100);
  --semantic-hightlight-focus: var(--dieter-orange-50);
  --semantic-hightlight-disable: var(--dieter-orange-50);
  --semantic-info: var(--blue-500);
  --semantic-info-light: var(--blue-100);
  --semantic-info-hover: var(--blue-200);
  --semantic-info-focus: var(--blue-100);
  --semantic-info-disable: var(--blue-50);
  --semantic-sucess: var(--green-500);
  --semantic-sucess-light: var(--green-100);
  --semantic-sucess-hover: var(--green-200);
  --semantic-sucess-focus: var(--green-100);
  --semantic-sucess-disable: var(--green-50);
  --semantic-warning: var(--yellow-500);
  --semantic-warning-light: var(--yellow-100);
  --semantic-warning-hover: var(--yellow-200);
  --semantic-warning-focus: var(--yellow-50);
  --semantic-warning-disable: var(--yellow-50);
  --semantic-danger: var(--ed-500);
  --semantic-danger-light: var(--red-100);
  --semantic-danger-hover: var(--red-200);
  --semantic-danger-focus: var(--red-100);
  --semantic-danger-disable: var(--red-50);
}

:root[data-theme="dark"] {
  /* Variables específicas para el modo oscuro */
  --background-1: var(--bolt-black-700);  
  --background-2: var(--bolt-black-500);
  --background-3: var(--dieter-orange-500);
  --background-4: var(--dieter-orange-50);
  --background-inverse: var(--light-gray-50);
  --background-hover: var(--bolt-black-500);
  --background-focus: var(--dieter-orange-500);
  --background-disable: var(--bolt-black-800);
  --box-shadow-color: rgba(18, 18, 18, 0.24);
  --content-1: var(--light-gray-500);
  --content-2: var(--light-gray-700);
  --content-3-pair: var(--light-gray-500);
  --content-4-pair: var(--bolt-black-500);
  --content-inverse: var(--bolt-black-500);
  --content-hover: var(--light-gray-100);
  --content-focus: var(--light-gray-500);
  --content-disable: var(--bolt-black-400);
  --border-1: var(--bolt-black-800);
  --border-inverse: var(--light-gray-50);
  --border-hover: var(--bolt-black-500);
  --border-focus: var(--dieter-orange-500);
  --border-disable: var(--bolt-black-400);
  --border-info: var(--blue-500);
  --border-success: var(--green-500);
  --border-warning: var(--yellow-500);
  --border-danger: var(--red-500);
  --semantic-hightlight: var(--dieter-orange-500);
  --semantic-hightlight-light: var(--dieter-orange-50);
  --semantic-hightlight-hover: var(--dieter-orange-100);
  --semantic-hightlight-focus: var(--dieter-orange-50);
  --semantic-hightlight-disable: var(--dieter-orange-50);
  --semantic-info: var(--blue-500);
  --semantic-info-light: var(--blue-100);
  --semantic-info-hover: var(--blue-200);
  --semantic-info-focus: var(--blue-100);
  --semantic-info-disable: var(--blue-50);
  --semantic-sucess: var(--green-500);
  --semantic-sucess-light: var(--green-100);
  --semantic-sucess-hover: var(--green-200);
  --semantic-sucess-focus: var(--green-100);
  --semantic-sucess-disable: var(--green-50);
  --semantic-warning: var(--yellow-500);
  --semantic-warning-light: var(--yellow-100);
  --semantic-warning-hover: var(--yellow-200);
  --semantic-warning-focus: var(--yellow-50);
  --semantic-warning-disable: var(--yellow-50);
  --semantic-danger: var(--red-500);
  --semantic-danger-light: var(--red-100);
  --semantic-danger-hover: var(--red-200);
  --semantic-danger-focus: var(--red-100);
  --semantic-danger-disable: var(--red-50);
}



.background-1 {
  background-color: var(--background-1);
}

.background-2 {
  background-color: var(--background-2);
}

.background-3 {
  background-color: var(--background-3);
}

.background-4 {
  background-color: var(--background-4);
}

.background-inverse {
  background-color: var(--background-inverse);
}

.background-hover {
  background-color: var(--background-hover);
}

.background-focus {
  background-color: var(--background-focus);
}

.content-1 {
  color: var(--content-1);
}

.content-2 {
  color: var(--content-2);
}

.content-3 {
  color: var(--content-3);
}

.content-4 {
  color: var(--content-4);
}

.content-inverse {
  color: var(--content-inverse);
}

.content-hover {
  color: var(--content-hover);
}

.content-focus {
  color: var(--content-focus);
}

.content-disable {
  color: var(--content-disable);
}

/* Text-size styles */
.display-m {
  font-family: var(--font-family);
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.display-s {
  font-family: var(--font-family);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.title-l {
  font-family: var(--font-family);
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.title-m {
  font-family: var(--font-family);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.title-s {
  font-family: var(--font-family);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 145%;
}

.body-l {
  font-family: var(--font-family);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
}

.body-m {
  font-family: var(--font-family);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.body-s {
  font-family: var(--font-family);
  font-size: 0.88rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.label-xl {
  font-family: var(--font-family);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.label-l {
  font-family: var(--font-family);
  font-size: 0.88rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.label-m {
  font-family: var(--font-family);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155%;
}

.label-s {
  font-family: var(--font-family);
  font-size: 0.62rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155%;
}


/* Medium screen (640px - 1024px) */
@media screen and (min-width: 641px) and (max-width: 1024px) {
  .display-m {
    font-size: 2.5rem;
  }

  .display-s {
    font-size: 2rem;
    line-height: 140%;
  }

  .title-l {
    font-size: 1.5rem;
  }

  .title-m {
    font-size: 1.25rem;
    line-height: 145%;
  }

  .title-s {
    font-size: 1rem;
    line-height: 150%;
  }

}

/* Small screen (< 640px) */
@media screen and (max-width: 640px) {
  .display-m {
    font-size: 2rem;
    line-height: 140%;
  }

  .display-s {
    font-size: 1.5rem;
  }

}
